
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Título de la página</title>

</head>
<body>
<div class="fondo" ><ng-container *ngFor="let imagen of productos"><li *ngIf="imagen.Id===id.toString()">
  <div class="contenido">
    <div class="imagenpr">
      <img [src]="'http://localhost:3000/' + imagen.ImageUrl"  class="nombreclaseimagen">
    </div>
    <div class="descripcion">
      <div class="titulo">
        <h1>{{imagen.Nombre}}</h1>
      </div>
      <div class="precio">{{imagen.Precio}}$</div>


      <div>
        <button class="comprar2"(click)="addToCart(imagen)">Agregar al carrito</button>
      </div>
    </div>
  </div>

  <div class="contenido2">
<div class="titulodescripcion">
      Informacion del Cuadro<br>
  </div>
     <br><div class="descripcionarte">
    <p>{{imagen.Descripcion}}

    </p></div>
  </div>  </li></ng-container>
</div>
<header>
</header>
<main>
</main>
<footer>
</footer>
</body>
</html>
