
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Título de la página</title>

</head>
<body>
<div class="fondo">
  <div class="contenido">
    <div class="imagenpr">
      <img  [src]="imageUrl" alt="Imagen del producto" class="nombreclaseimagen">
    </div>
    <div class="descripcion">
      <div class="titulo">
        <h1>{{nombre}}</h1>
      </div>
      <div class="precio">{{precio}}</div>

      <div>

      </div>
      <div>
        <button class="comprar2">Agregar al carrito</button>
      </div>
    </div>
  </div>

  <div class="contenido2">
<div class="titulodescripcion">
      Informacion del Cuadro<br>
  </div>
     <br><div class="descripcionarte">
    <p> {{descripcion}}

    </p></div>
  </div>
</div>
<header>
</header>
<main>
</main>
<footer>
</footer>
</body>
</html>
