<div class="wrapper">
  <div class="body">
    <form [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
      <label for="nombre">Nombre:</label>
      <input type="text" formControlName="nombre" id="nombre"/>

      <label for="precio">Precio:</label>
      <input type="number" formControlName="precio" id="precio"/>

      <label for="descripcion">Descripcion:</label>
      <input type="text" formControlName="descripcion" id="descripcion"/>

      <label for="clasificacion">Clasificacion:</label>
      <input type="text" formControlName="clasificacion" id="clasificacion"/>

      <label for="imagen">Imagen:</label>
      <input type="file" (change)="onFileSelected($event)" id="imagen"/>

      <div id="fileError" *ngIf="error">
        <p>Archivo seleccionado: {{ error }}</p>
      </div>

      <button type="submit" [disabled]="productoForm.invalid">
        Agregar Producto
      </button>
    </form>
  </div>
</div>
