<div class="wrapper">
  <div class="body">

  <div [formGroup]='formSignUp'>
    <img class="logo" src="../assets/imagenes/login.png" alt="img login">

    <h3 class="mb-2">Registrarse</h3>

    <div class="form-floating mb-3 mt-3">
      <input type="username" class="form-control" id="username" placeholder="User Name" formControlName="username">
      <label for="username">User Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" placeholder="nombre@dominio.com" formControlName="email">
      <label for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
      <label for="password">Password</label>
    </div>
    <div class="d-grid gap-2">
      <button type="button" class="btn btn-primary btn-lg" (click)="registrar()">Aceptar</button>
    </div>


  </div>

  <div *ngIf="mensaje; then thenBlock"></div>
  <ng-template #thenBlock><p>{{mensaje}}</p></ng-template>
  </div>
</div>
