<div class="wrapper">
  <div class="body">

  <div [formGroup]='formSignUp'>
    <img class="logo" src="../assets/imagenes/login.png" alt="img login">

    <h3 class="mb-2">Registrarse</h3>

    <div class="form-floating mb-3 mt-3">
      <input type="username" class="form-control" id="username" placeholder="User Name" formControlName="username"
      [ngClass]="{'is-invalid': submitted && f['username'].errors }">
      <label for="username">User Name</label>
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">Debe ingresar un Nombre de Usuario</div>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="email" placeholder="nombre@dominio.com" formControlName="email"
             [ngClass]="{'is-invalid': submitted && f['email'].errors }">
      <label for="email">Email</label>
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors['required']">Debe ingresar el mail</div>
        <div *ngIf="f['email'].errors['email']">Debe ingresar un mail valido</div>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password"
             [ngClass]="{'is-invalid': submitted && f['password'].errors }">

      <label for="password">Password</label>
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Debe ingresar su clave</div>
      </div>
    </div>
    <div class="d-grid gap-2">
      <button type="button" class="btn btn-primary btn-lg" (click)="registrar()">Aceptar</button>
    </div>

  </div>

  <div *ngIf="mensaje; then thenBlock"></div>
  <ng-template #thenBlock><p>{{mensaje}}</p></ng-template>
  </div>
</div>



